# Logistic Regression?

In [40]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

df = pd.read_csv('turtles.csv')
y = df.SPECIES
X = df[['WEIGHTGR', 'LENGTHCM', 'WIDTHCM', 'DEPTHCM']]

X_train, X_test, y_train, y_test = train_test_split(X, y)

      WEIGHTGR  LENGTHCM  WIDTHCM  DEPTHCM
906       19.2      4.53     3.42     2.13
752       19.3      4.56     3.50     2.10
1383      19.9      4.58     3.45     1.87
2407      17.0      4.27     3.23     1.96
1911      20.0      4.52     3.41     2.02
...        ...       ...      ...      ...
873       18.5      4.44     3.43     2.20
478       17.5      4.37     3.43     1.95
2194      18.7      4.48     3.58     1.80
2065      19.4      4.53     3.59     1.84
2342      19.7      4.28     3.23     2.06

[762 rows x 4 columns]